@media(max-width:1033px){

    .header-end {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-inline: 20px;
    }

    .main-contant p {
        text-align: center;
        font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
        font-weight: 400;
        line-height: 20px;
        color: #22343D;
        width: 100%;
        max-width: 458px;
       }

       .main-btn {
        margin-top: 22px;
       }

       .pro-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

       .product-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 280px;
        height: 178px;
        padding-block: 50px;
      }

      .product-box img {
        width: 100%;
        max-width: 50px;
        margin-inline: auto;
    }

    .product-box h1 {
        padding-top: 10px;
        font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
        font-weight: 600;
        display: flex;
        justify-content:center;
      }

      .product-box p {
        margin-inline: auto;
        font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
        color: #22343D;
        width: 100%;
        max-width:270px;
        line-height: 26px;
        text-align: center;
    }
}

@media(max-width:448px){

    
    .main-contant {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
    }
   
    .main-contant h1 {
        font-size: clamp(1.375rem, 0.966rem + 2.05vw, 2.5rem);
        font-weight: 700;
        color: #22343D;
        width: 100%;
        max-width: 518px;
        line-height: 28px;
        text-align: center;
    }

    .main-btn :first-child  {
        width: 100%;
        max-width: 135px;
        height: 38px;
        background-color: #02897A;
        color: #fff;
        border-radius: 4px;
        border: none;
        font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
    }
    
    .main-btn :last-child {
        width: 100%;
        max-width: 145px;
        color: #02897A;
        font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
        border: none;
        background-color: #fff;
    }

    .main-btn {
        display: flex;
        gap: 4px;
    }
    
    .main-btn img {
        width: 100%;
        max-width:20px;
        color: #02897A;
        margin-left: 8px;
    }

}